{%- assign image_fix = image_nt | image_tag -%}
<div class="t4s-quote-wrap quote_01">
  {%- if bk_stts.image_avata -%}
     {%- assign image = bk_stts.image_avata -%} 
    <div {% if image.presentation.focal_point != '50.0% 50.0%' %} style="object-position: {{ image.presentation.focal_point }}"{% endif %} class="t4s-quote-avatar lazyloadt4s" data-bgset="{{ image | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2" style="background-image: url({{ image | image_url: width: 1 }};"></div>
 {% else %}
  <div {% if image.presentation.focal_point != '50.0% 50.0%' %} style="object-position: {{ image.presentation.focal_point }}"{% endif %} class="t4s-quote-avatar t4s-quote-default-image lazyloadt4s" data-bgset="https://cdn.shopify.com/s/files/1/0612/5142/0296/files/speech-balloon.svg?v=1706075263" data-sizes="auto"  data-optimumx="2" style="background-image: url('https://cdn.shopify.com/s/files/1/0612/5142/0296/files/speech-balloon.svg?v=1706075263');"></div>
    {%- endif -%}
  <div class="t4s-quote-content t4s-rte">
     {% if bk_stts.heading != blank %}
     <h3 class="t4s-testimonial-heading">{{ bk_stts.heading }}</h3>
     {% endif %}
    {{ bk_stts.content }}
    <div class="t4s-quote-author">{{ bk_stts.title }}</div>
    {%- if bk_stts.pos != blank -%}<div class="t4s-quote-position">{{ bk_stts.pos }}</div>{%- endif -%} 

        {%- render 'rating_star', rating: bk_stts.rating -%}
    
  </div>
</div>